body {
    background-color: #e6f4ea;
}

.boarrd-main {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 20%;
    right: 20%;
    background-color: #f1f1f1;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.main_header {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: #72a97e;
    color: #ffffff;
    font-size: larger;
    border-radius: 8px 8px 0 0;
}

.board {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9fff8;
    border: 1px solid #72a97e;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.board-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.board-detail {
    font-size: 14px;
    color: #666;
}

.button {
    background-color: #a3d7b2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #90c89a;
}

.locked {
    color: #FF6347;
}

.not-found {
    text-align: center;
    font-size: 16px;
    color: #666;
}

.error {
    text-align: center;
    font-size: 16px;
    color: #FF6347;
}
.board_class {
    background-color: #f0fff3; /* 自分の掲示板用の背景色 */
    border: 2px solid #00ff1a; /* 自分の掲示板用の枠線 */
}
.own-board {
    background-color: #f0fff3; /* 自分の掲示板用の背景色 */
    border: 2px solid #00ff1a; 
   

}
.up{
    position: fixed;
    bottom: 20%;
    left: 92%;
    border-radius: 50%;
    background-color: #a3d7b2;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 87px;
    font-size: 55px;
    color: white;
}
.low{
    position: fixed;
    bottom: 5%;
    left: 92%;
    border-radius: 50%;
    background-color: #a3d7b2;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 87px;
    font-size: 55px;
    color: white;
}
