body {
    background-color: #e6f4ea;
}

.main {
    max-width: 1000px;
    margin: 20px auto;
    margin-top: 10%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
    max-width: 50%;
}

.main_header {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: #72a97e;
    color: #ffffff;
    font-size: larger;
    border-radius: 8px 8px 0 0;
}

.board {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9fff8;
    border: 1px solid #72a97e;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.board-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.board-detail {
    font-size: 14px;
    color: #666;
}

.button {
    background-color: #a3d7b2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #90c89a;
}

.locked {
    color: #FF6347;
}
.search-result-header {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
  
/* Search Form Styles */
.search-form {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
  
.search-form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #72a97e;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}
  
.search-button {
    background-color: #72a97e;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
}
  
.search-button svg {
    vertical-align: middle;
}
  
.search-button:hover {
    background-color: #5a8b66;
}

.not-found {
    text-align: center;
    font-size: 16px;
    color: #666;
}

.error {
    text-align: center;
    font-size: 16px;
    color: #FF6347;
}
/* css/board-list.css */
.board-own {
    background-color: #f0fff3; /* 自分の掲示板用の背景色 */
    border: 2px solid #00ff1a; /* 自分の掲示板用の枠線 */
}
