/* General Body Styles */
body {
    background-color: #e6f4ea;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Main Container */
.main {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10%;
    width: 50%;
    max-width: 50%;
}

/* Main Header */
.main h2 {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: #72a97e;
    color: #fff;
    font-size: 24px;
    border-radius: 8px 8px 0 0;
    margin: 0;
}

/* List Styles */
ul.cp_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.cp_list li {
    position: relative;
    border-left: solid 6px #1fa67a; /* Left border line */
    border-bottom: solid 2px #dadada; /* Bottom border line */
    background: whitesmoke;
    margin-top: 10px; /* Spacing between items */
    font-weight: bold;
    line-height: 150%;
    font-size: 20px;
    padding-left: 10px;
}

/* Specific styles for links within list items */
ul.cp_list li a {
    display: block; /* Make the link a block element */
    padding: 0.5em; /* Add padding to the link to cover the li */
    color: black;
    text-decoration: none; /* Remove underline from links */
}

ul.cp_list li a:hover {
    background-color: #e0e0e0; /* Optional: Add a hover effect for better UX */
}

/* General link styles */
a {
    text-decoration: none;
    color: #000000;
}
