/* General Body Styles */
body {
  background-color: #e6f4ea;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Main Container */
.main {
  margin: 20px auto;
  margin-top: 10%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto;
  max-width: 50%;
}

/* Search Results Header */
.search-result-header {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background-color: #72a97e;
  color: #ffffff;
  font-size: larger;
  border-radius: 8px 8px 0 0;
}

/* Board Card Styles */
.board-card {
  background-color: #f9fff8;
  border: 1px solid #72a97e;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Board Title */
.board-title {
  font-size: 1.2em;
  color: #355e3b;
  margin-bottom: 10px;
}

/* Board Info */
.board-info {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 10px;
}

/* Join Button */
.join-button {
  background-color: #72a97e;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.join-button:hover {
  background-color: #5a8a63;
}

/* Not Found Message */
.not-search {
  text-align: center;
  font-size: 20px;
  color: #000;
  margin-top: 20px;
}

/* Icon Styles */
.icon {
  font-size: 18px;
  margin-left: 5px;
}

.search_genre_pull {
  background-color: #a3d7b2;
  color: #fff;
  border: 0.75px solid #000;
  height: 35px;
  font-size: 20px;
  width: 200px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 8px
}

.search_genre_button {
  background-color: #a3d7b2;
  color: #fff;
  height: 35px;
  font-size: 20px;
  width: 60px;
  border: 0.75px solid #000;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 8px
}

.search_re_text {
  background-color: #a3d7b2;
  color: #fff;
  border: 0.75px solid #000;
  height: 35px;
  font-size: 20px;
  width: 350px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 8px
}

.search_re_text::placeholder {
  color: #fff;
}

.search_re_button {
  background-color: #a3d7b2;
  color: #fff;
  height: 35px;
  font-size: 20px;
  width: 75px;
  border: 0.75px solid #000;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 8px
}

.search_re_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}