/* 基本スタイル */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: #e6f4ea;
}

/* ヘッダー */
/* header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px;
 background-color: #f2f2f2;
}

 */
.user-icon,
.menu-icon {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  margin-left: 10px;
}

/* メインコンテンツ */
main {
  padding: 10px;
}

.home {
  display: flex;
  align-items: center;
  margin-right: 30%;
  margin-bottom: 10px;
}

.thread-name {
  width: 100%;
  /* margin-top: 3%; */
  font-size: 30px;
  font-weight: bolder;
  padding-left: 26%; /* テキストの左端にパディングを追加 */
  margin-left: 32%;
  margin-top: 5%;
  margin-bottom: 3%;
  width: 50%;
  color: #fff;
  border-radius: 100vh;
  background-image: -webkit-gradient(linear, right top, left top, from(#9be15d), to(#00e3ae));
  background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
  background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
}

.board-link {
  margin-bottom: 30%;
}

.chat-container {
  background-color: #ffffff;
  /* position: absolute; */
  left: 15%;
  top: 10%;
  margin-left:5%;
  width: 130%;
  
  /* max-height: 500px; 最大高さを設定 */
  /* width:1000; */
  overflow-y: scroll;
  /* コンテンツがはみ出した場合にスクロールするように設定 */
  
}


.message {
  display: flex;
  margin-bottom: 10px;
  /* max-width: 70%; */
  word-wrap: break-word;
}

.received {
  justify-content: flex-start;
}

.sent {
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-end;
}

.user-avatar {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.message-text {
  padding: 10px;
  margin-top: 6%;
  margin-left: 4%;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.sent .message-text {
  color: #000000;
  background-color: #a7f56a;
}

.input-container {
  /* background-color: #007bff; */
  /* position: absolute; */
  top: 85%;
  left: 15%;
  display: flex;
  margin-top: 10px;
  background-color: transparent;
}

input[type="text"] {
  flex-grow: 2;
  /* Adjust the flex-grow value to make it longer */
  width: auto;
  /* Set width to auto so it expands to fill available space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.post_text {
  flex-grow: 2;
  /* テキストエリアが利用可能なスペースを埋める */
  width: 600px;
  /* 幅を自動に設定 */
  /* height:20%; */
  padding: 10px;
  /* 内側の余白を設定 */
  border: 1px solid #ccc;
  /* 枠のスタイルを設定 */
  border-radius: 5px;
  /* 角を丸くする */
  font-size: 16px;
  /* 文字サイズを設定 */
  resize: none;
  /* サイズ変更を禁止 */
  outline: none;
  /* フォーカス時のアウトラインを除去 */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* 影を追加 */
  /* background-color: #007bff;
  position: absolute;
  bottom: 0; */
}

/* テキストボックスがフォーカスされたときのスタイル */
textarea.post_text:focus {
  border-color: #007bff;
  /* フォーカス時の枠の色を変更 */
  border-bottom: #04376e;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  /* フォーカス時の影を変更 */
}

.send-button {
  width: 45px;
  height: 60px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;

}

/* レスポンシブデザイン */
/* @media (max-width: 768px) {
 .message {
   max-width: 80%;
 }
} */

.icon {
  margin-top: 40%;
  margin-left: 40%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* overflow: hidden; */
  height: auto;
  max-height: 50px;
}

.pic {
  height: 75px;
  width: auto;
  max-width: 125px;
}

.post_date {
  font-size: 10px;
}

.post_school {
  font-size: 15px;
}

.post_name {
  font-size: 15px;
}

.post_content {
  font-size: 20px;
}

/* Hide the default file input */
input[type="file"] {
  display: none;
}

/* Style the custom file upload button */
.custom-file-upload {
  display: inline-block;
  padding-left: 5%;
  margin-right: 25%;
  cursor: pointer;
  /* background-color: #007bff; */
  color: #000000;
  border-radius: 5px;
  /* border: 1px solid #007bff; */
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.custom-file-upload svg {
  margin-right: 8px;
}

/* .custom-file-upload:hover {
  background-color: #0056b3;
  border-color: #0056b3;
} */

/* Make the label behave like a button */
.custom-file-upload .custom-file-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Focus styles for the label */
input[type="file"]:focus+.custom-file-label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

#file-name {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
}

.pass_change {
  margin-top: 7%;
}

/* モーダルウィンドウ */
.modal {
  display: none;
  /* 初期状態では非表示 */
  position: fixed;
  /* 固定位置に配置 */
  z-index: 1;
  /* 最前面に表示 */
  left: 0;
  top: 0;
  width: 100%;
  /* 全画面に広がる */
  height: 100%;
  /* 全画面に広がる */
  background-color: rgba(0, 0, 0, 0.7);
  /* 半透明の黒色背景 */
  overflow: auto;
  /* コンテンツが画面外に溢れる場合はスクロール可能に */
}

/* モーダルウィンドウ内の画像 */
.modal-content {
  margin: 5% auto;
  /*画像を中央に配置 */
  margin-top: 10%;
  display: block;
  max-width: 80%;
  /* 画像の最大幅を設定 */
  max-height: 80%;
  /* 画像の最大高さを設定 */
}


/* モーダルウィンドウのクローズボタン */
.close {
  color: #ccc;
  /* グレーの文字色 */
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  /* ホバー時に黒色に変更 */
  text-decoration: none;
  cursor: pointer;
}

.delete-button {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.delete-button:hover {
  background-color: #c82333;
  border-color: #bd2130;
  text-decoration: none;
  color: #fff;
}

